<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div>
  <h1 style="text-align: center; color: white;">Weather Application</h1>

  <div>
    <form class="weather-form">
      <input style="width: 81%;" type="text" name="city" placeholder="Enter city name" [(ngModel)]="city">
      <button type="submit" (click)="getWeather()" class="get-button">Get Weather</button>
    </form>
  </div>

  <div *ngIf="isLoading" class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="weatherData" class="weather-card" style="color: white;">
    <u>
      <h2>Weather Forecast of {{ weatherData.location.name }} city</h2>
    </u>
    <div class="text-center font-weight-bold">
      <h3 class="weather-details">
        <span class="col-sm">Temperature: {{ weatherData.current.temp_c }}°C</span>
        <span class="col-sm">Humidity: {{ weatherData.current.humidity }}%</span>
        <span class="col-sm">Wind Speed: {{ weatherData.current.wind_kph }} kph</span>
      </h3>
    </div>

    <div class="forecast-card" *ngFor="let forecast of weatherData.forecast.forecastday"
      (click)="showWeatherDetails(forecast.date)">
      <div class="forecast-day">
        <h3>{{ forecast.date }}</h3>
        <div *ngIf="selectedDate === forecast.date">
          <div class="row">
            <div class="weather-card-row">
              <div class="col-xs-2" *ngFor="let hour of forecast.hour; let i = index">
                <div class="weather-card">
                  <p>{{ hour.time | date:'h:mm a' }}</p>
                  <img src="{{ hour.condition.icon }}" alt="">
                  <p>{{ hour.temp_c }}°C</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="errorMessage" class="error-message">
    <h3 style="color: rgb(255, 3, 78); text-align: center; margin-top: 10px;">{{ errorMessage }}</h3>
  </div>

</div>